<mat-tab-group>
  <mat-tab label="Log In">
    <header>
      <h2 class="login-title">Log In</h2>
    </header>

    <!--form for login-->
    <form [formGroup]="logInForm">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" placeholder="Enter your login...">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter your password...">
      </mat-form-field>

      <div>
        <button [disabled]="!logInForm.valid" mat-raised-button color="primary" (click)="onBtnLogInFormClick()">Log in</button>
      </div>
    </form>
    <form></form>
  </mat-tab>

  <mat-tab label="Register">
    <header>
      <h2 class="login-title">Register</h2>
    </header>

    <!--form for registering-->
    <form [formGroup]="registerForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login" placeholder="Enter your login...">
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Enter your password...">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter your first name...">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter your last name...">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" placeholder="Enter your age...">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <input matInput formControlName="group" placeholder="Enter your group...">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Course</mat-label>
        <input matInput formControlName="course" placeholder="Enter your course...">
      </mat-form-field>

      <div>
        <button [disabled]="!registerForm.valid" mat-raised-button color="primary" (click)="onBtnCheckInFormClick()">Check in</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>




