.student-title {
  height: 8vh;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.72);
  text-shadow: 3px 3px 3px #c0c0be;
  margin-bottom: 50px;
  background: rgba(191, 191, 191, 0.16);
}

.student-info {
  display: inline-block;
  width: 30%;
  align-items: start;
}

.student-info-title {
  font-weight: bold;
}

.student-marks {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}

#mark {
  /*mark style (circle with color depended on mark)*/
  display: inline-block;
  margin: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: #c0c0be;
}
