<h2 class="student-title">{{student.lastName}} {{student.firstName}}</h2>

<div class="student-info">
  <div class="student-info-title">First Name: </div>
  <p id="first-name">
    {{student.firstName}}
  </p>
  <div class="student-info-title">Last Name: </div>
  <p id="last-name">
    {{student.lastName}}
  </p>
  <div class="student-info-title">Age: </div>
  <p id="age">
    {{student.age}}
  </p>
  <div class="student-info-title">Group: </div>
  <p id="group">
    {{student.group}}
  </p>
  <div class="student-info-title">Course: </div>
  <p id="course">
    {{student.course}}
  </p>
</div>

<div class="student-marks">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let subject of subjects" (opened)="marksOfSubject(subject)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{subject}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mark" *ngFor="let mark of subjectMarks">{{mark.sMark}}</div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          All marks
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mark" *ngFor="let mark of student.marks">{{mark.sMark}}</div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
